# === File Types ===
*.db
*.db-*
*.RHistory

# === Specific Files ===
out_benchmark.txt

# === Folders (Includes all child files and subfolders) ===
output/
dataset/
lczerolens/
logs/
weights/
__pycache__/
.ipynb_checkpoints/

# === Git Folders ===
# Note: Git automatically ignores the main .git/ folder, 
# but this ensures submodules or nested git folders are ignored.
.git/

games/

checkpoints/**/epoch_*.pt

checkpoints/**/expert/*epoch_*.pt
